{{ define "head" }}
    <head>
        <meta charset="UTF-8">
        <title>shrt</title>
        <link rel="stylesheet"
              href="/static/bulma.css">
        <link rel="stylesheet"
              href="/static/custom.css">
        <link rel="icon"
              type="image/png"
              href="/static/favicon.ico">
    </head>
{{ end }}
