<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>
<section class="section" id="main">
    <div class="container">
        <div class="box">
            <form {{ if or .Enabled .Error }} method="POST" {{ else }} method="GET" {{ end }}>
                <div class="field is-grouped">
                    <div class="control is-expanded">
                        <input
                                name="link"
                                class="input is-large {{ if .Error }} is-danger {{ end }} {{ if not .Enabled}} is-static {{ end }}"
                                type="text"
                                {{ if not .Enabled | or .Error}}
                                    value="{{ .Link }}"
                                {{ end }}
                                {{ if or .Enabled .Error }}
                                    placeholder="https://example.com"
                                {{ else }}
                                    readonly
                                    class="is-static"
                                {{ end }}
                        >
                    </div>
                    <div class="control">
                        <input
                                id="submit"
                                type="submit"
                                class="button is-link is-large"
                                {{ if or .Enabled .Error}}
                                    value="Submit!"
                                {{ else }}
                                    value="Restart"
                                {{ end }}
                        >
                    </div>
                </div>
                {{ if .Error }}
                    <p class="has-text-danger">{{ .Error }}</p>
                {{ end }}
            </form>
        </div>
    </div>
</section>
</body>
</html>
